Showing folders {firstImage} to {lastImage} <br/>
{itemsOnThisPage} on this page of total {numberOfImages} <br/>
Page {currentPage} of {numberOfPages} <br/>

<f:for each="{imageGrid}" as="col">
	<div class="row">
		<f:for each="{col}" as="folder">
			<div class="col" style="float: left">
				<f:link.action arguments="{categoryFolder:folder.folderImage.uid, image:currentImage.uid, listFolder:folder.folderImage.uid}">
					<f:image image="{folder.folderImage}" width="{settings.size.width}" height="{settings.size.height}"/>
					<span>{folder.folder.name}</span>
				</f:link.action>
			</div>
		</f:for>
		<div style="clear: both"></div>
	</div>
</f:for>
<f:if condition="{numberOfPages} > 1">
	<f:if condition="{isFirstPage}">
		<f:else>
			<f:link.action arguments="{image:currentImage.uid, listPage:currentListPage, listFolder:currentListFolder.uid, categoryPage:previousPage, categoryFolder:currentCategoryFolder.uid}">previous</f:link.action>
		</f:else>
	</f:if>
	<f:if condition="{isLastPage}">
		<f:else>
			<f:link.action arguments="{image:currentImage.uid, listPage:currentListPage, listFolder:currentListFolder.uid, categoryPage:nextPage, categoryFolder:currentCategoryFolder.uid}">next</f:link.action>
		</f:else>
	</f:if>
</f:if>
<f:if condition="{parentFolderImage}">
	<f:link.action arguments="{categoryFolder:parentFolderImage.uid, image:currentImage.uid, listPage:currentListPage}">Upwards</f:link.action>
</f:if>
<f:if condition="{upwardsIsSelectedFolder}">
	<f:link.action arguments="{image:currentImage.uid, listPage:currentListPage}">Upwards</f:link.action>
</f:if>
