{namespace fgl=In2code\FalGallery\ViewHelpers}
<f:if condition="{numberOfImages} > 1">
	<f:translate key="showing_images" arguments="{0: firstImage, 1: lastImage}">Showing images {firstImage} to {lastImage}</f:translate><br/>
	<f:translate key="showing_images_of_total" arguments="{0: itemsOnThisPage, 1: numberOfImages}">{itemsOnThisPage} on this page of total {numberOfImages}</f:translate><br/>
</f:if>
<f:if condition="{numberOfPages} > 1">
	<f:translate key="showing_pages_of_total" arguments="{0: currentPage, 1: numberOfPages}">Page {currentPage} of {numberOfPages}</f:translate><br/>
</f:if>

<h1><fgl:underscoreToSpace>{currentCategoryFolder.parentFolder.name}</fgl:underscoreToSpace></h1>

<f:for each="{imageGrid}" as="col">
	<div class="row">
		<f:for each="{col}" as="image">
			<div class="col" style="float: left">
				<f:if condition="{settings.list.useLightBox}">
					<f:then>
						<a href="{f:uri.image(image:image, maxWidth:'{maxImageWidth}')}" class="{settings.lightboxCssClass}" rel="{lightboxRelAttribute}" title="{image.properties.title}">
							<f:image image="{image}" width="{settings.size.width}" height="{settings.size.height}"/>
						</a>
					</f:then>
					<f:else>
						<f:link.action arguments="{image:image.uid, listPage:currentPage, categoryPage:currentCategoryPage, categoryFolder:currentCategoryFolder.uid, listFolder:currentListFolder.uid}">
							<f:image image="{image}" width="{settings.size.width}" height="{settings.size.height}"/>
						</f:link.action>
					</f:else>
				</f:if>
			</div>
		</f:for>
		<div style="clear: both"></div>
	</div>
</f:for>


<f:if condition="{numberOfPages} > 1">
	<f:if condition="{isFirstPage}">
		<f:else>
			<f:link.action arguments="{listPage:previousPage, image:currentImage.uid, categoryPage:currentCategoryPage, categoryFolder:currentCategoryFolder.uid, listFolder:currentListFolder.uid}"><f:translate key="previous">previous</f:translate></f:link.action>
		</f:else>
	</f:if>
	<f:if condition="{isLastPage}">
		<f:else>
			<f:link.action arguments="{listPage:nextPage, image:currentImage.uid, categoryPage:currentCategoryPage, categoryFolder:currentCategoryFolder.uid, listFolder:currentListFolder.uid}"><f:translate key="next">next</f:translate></f:link.action>
		</f:else>
	</f:if>
</f:if>

