<f:image image="{image}" width="{settings.size.width}" height="{settings.size.height}" />
<div class="falgallery-imageinformation">
	<div class="main-information">
		<h2>{image.properties.title}</h2>
		<p>{image.properties.description}</p>
		<p>{image.properties.alternative}</p>
	</div>
	<f:if condition="{exifInformation}">
		<div class="exif-information">
		<h3>EXIF</h3>
			<table>
				<tr>
					<td>ExposureTime</td>
					<td>{exifInformation.EXIF.ExposureTime}</td>
				</tr>
				<tr>
					<td>FNumber</td>
					<td>{exifInformation.EXIF.FNumber}</td>
				</tr>
				<tr>
					<td>ExposureProgram</td>
					<td>{exifInformation.EXIF.ExposureProgram}</td>
				</tr>
				<tr>
					<td>ISOSpeedRatings</td>
					<td>{exifInformation.EXIF.ISOSpeedRatings}</td>
				</tr>
				<tr>
					<td>ExifVersion</td>
					<td>{exifInformation.EXIF.ExifVersion}</td>
				</tr>
				<tr>
					<td>DateTimeOriginal</td>
					<td>{exifInformation.EXIF.DateTimeOriginal}</td>
				</tr>
				<tr>
					<td>DateTimeDigitized</td>
					<td>{exifInformation.EXIF.DateTimeDigitized}</td>
				</tr>
				<tr>
					<td>ShutterSpeedValue</td>
					<td>{exifInformation.EXIF.ShutterSpeedValue}</td>
				</tr>
				<tr>
					<td>ApertureValue</td>
					<td>{exifInformation.EXIF.ApertureValue}</td>
				</tr>
				<tr>
					<td>ExposureBiasValue</td>
					<td>{exifInformation.EXIF.ExposureBiasValue}</td>
				</tr>
				<tr>
					<td>MaxApertureValue</td>
					<td>{exifInformation.EXIF.MaxApertureValue}</td>
				</tr>
				<tr>
					<td>MeteringMode</td>
					<td>{exifInformation.EXIF.MeteringMode}</td>
				</tr>
				<tr>
					<td>LightSource</td>
					<td>{exifInformation.EXIF.LightSource}</td>
				</tr>
				<tr>
					<td>Flash</td>
					<td>{exifInformation.EXIF.Flash}</td>
				</tr>
				<tr>
					<td>FocalLength</td>
					<td>{exifInformation.EXIF.FocalLength}</td>
				</tr>
				<tr>
					<td>ColorSpace</td>
					<td>{exifInformation.EXIF.ColorSpace}</td>
				</tr>
				<tr>
					<td>SensingMethod</td>
					<td>{exifInformation.EXIF.SensingMethod}</td>
				</tr>
				<tr>
					<td>FileSource</td>
					<td>{exifInformation.EXIF.FileSource}</td>
				</tr>
				<tr>
					<td>SceneType</td>
					<td>{exifInformation.EXIF.SceneType}</td>
				</tr>
				<tr>
					<td>ExposureMode</td>
					<td>{exifInformation.EXIF.ExposureMode}</td>
				</tr>
				<tr>
					<td>WhiteBalance</td>
					<td>{exifInformation.EXIF.WhiteBalance}</td>
				</tr>
				<tr>
					<td>Contrast</td>
					<td>{exifInformation.EXIF.Contrast}</td>
				</tr>
				<tr>
					<td>Saturation</td>
					<td>{exifInformation.EXIF.Saturation}</td>
				</tr>
				<tr>
					<td>Sharpness</td>
					<td>{exifInformation.EXIF.Sharpness}</td>
				</tr>
				<tr>
					<td>SubjectDistanceRange</td>
					<td>{exifInformation.EXIF.SubjectDistanceRange}</td>
				</tr>
				<tr>
					<td>ExposureTime</td>
					<td>{exifInformation.EXIF.ExposureTime}</td>
				</tr>
			</table>
			<h3>GPS</h3>
			<table>
				<tr>
					<td>GPSVersion</td>
					<td>{exifInformation.GPS.GPSVersion}</td>
				</tr>
				<tr>
					<td>GPSAltitudeRef</td>
					<td>{exifInformation.GPS.GPSAltitudeRef}</td>
				</tr>
				<tr>
					<td>GPSAltitude</td>
					<td>{exifInformation.GPS.GPSAltitude}</td>
				</tr>
				<tr>
					<td>GPSProcessingMode</td>
					<td>{exifInformation.GPS.GPSProcessingMode}</td>
				</tr>
			</table>
			<h3>IFD0</h3>
			<table>
				<tr>
					<td>BitsPerSample</td>
					<td><f:for each="{exifInformation.IFD0.BitsPerSample}" as="bitPerSample" key="index">{index}:{bitPerSample} </f:for></td>
				</tr>
				<tr>
					<td>ImageDescription</td>
					<td>{exifInformation.IFD0.ImageDescription}</td>
				</tr>
				<tr>
					<td>Make</td>
					<td>{exifInformation.IFD0.Make}</td>
				</tr>
				<tr>
					<td>Model</td>
					<td>{exifInformation.IFD0.Model}</td>
				</tr>
				<tr>
					<td>Orientation</td>
					<td>{exifInformation.IFD0.Orientation}</td>
				</tr>
				<tr>
					<td>SamplesPerPixel</td>
					<td>{exifInformation.IFD0.SamplesPerPixel}</td>
				</tr>
				<tr>
					<td>XResolution</td>
					<td>{exifInformation.IFD0.XResolution}</td>
				</tr>
				<tr>
					<td>YResolution</td>
					<td>{exifInformation.IFD0.YResolution}</td>
				</tr>
				<tr>
					<td>ResolutionUnit</td>
					<td>{exifInformation.IFD0.ResolutionUnit}</td>
				</tr>
				<tr>
					<td>Software</td>
					<td>{exifInformation.IFD0.Software}</td>
				</tr>
				<tr>
					<td>Artist</td>
					<td>{exifInformation.IFD0.Artist}</td>
				</tr>
				<tr>
					<td>Copyright</td>
					<td>{exifInformation.IFD0.Copyright}</td>
				</tr>
				<tr>
					<td>Exif_IFD_Pointer</td>
					<td>{exifInformation.IFD0.Exif_IFD_Pointer}</td>
				</tr>
				<tr>
					<td>GPS_IFD_Pointer</td>
					<td>{exifInformation.IFD0.GPS_IFD_Pointer}</td>
				</tr>
			</table>
			<h3>COMPUTED</h3>
			<table>
				<tr>
					<td>IsColor</td>
					<td>{exifInformation.COMPUTED.IsColor}</td>
				</tr>
				<tr>
					<td>ByteOrderMotorola</td>
					<td>{exifInformation.COMPUTED.ByteOrderMotorola}</td>
				</tr>
				<tr>
					<td>ApertureFNumber</td>
					<td>{exifInformation.COMPUTED.ApertureFNumber}</td>
				</tr>
				<tr>
					<td>Copyright</td>
					<td>{exifInformation.COMPUTED.Copyright}</td>
				</tr>
				<tr>
					<td>IsColor</td>
					<td>{exifInformation.COMPUTED.IsColor}</td>
				</tr>
				<tr>
					<td>IsColor</td>
					<td>{exifInformation.COMPUTED.IsColor}</td>
				</tr>
				<tr>
					<td>IsColor</td>
					<td>{exifInformation.COMPUTED.IsColor}</td>
				</tr>
			</table>
		</div>
	</f:if>
</div>
